body{
    background-color:#093fb4;
  }
  
  h1{
    text-align: center;
    color:#FFFAFA;
    font-family: 'Alfa Slab One', cursive;
  }

  li{
    text-align: center;
    color:#FFFAFA;
    font-family: 'Alfa Slab One', cursive;
  }